---
- name: Fedora ghostty COPR
  community.general.copr:
    name: pgdev/ghostty
    state: enabled
  become: True
  become_user: root
  when: os == "Fedora"

- name: Install Ghostty
  ansible.builtin.package:
    name:
      - ghostty
  become: True
  become_user: root
