---
- name: Check if SecureSHell is dotfile
  ansible.builtin.stat:
    path: "{{ home_dir }}/.ssh/config"
  register: config_stat

- name: Set Crypto policy to Legacy
  ansible.builtin.command:
    cmd: update-crypto-policies --set LEGACY
  when: os == "Fedora"
  changed_when: False
  become: True
  become_user: root
